{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1>title</h1>
                    {{ form|crispy }}
                    {{ form.media  }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Gönder">
                </form>
            </div>
        </div>
    </div>


{% endblock %}

